:root {
  --intro: 8s;
  --scene: 1.5s;
  --flip: 6s;
}


.container {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: goldenrod;
    background-image: linear-gradient(270deg, #0f0e0e, #2f2f31, #454646);
    background-size: 600% 600%;
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    position: relative;

    animation: container var(--intro) ease infinite;
   
}




 @keyframes container {
   0% {
     background-size: 100% 0%;
   }

   50% {
      background-size: 0% 50%;
   }

   100% {
    background-size: 100% 0%;
   }
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 9999;
    position: absolute;
}

.logoImg {
     height: 300px;
    width: 400px;
    opacity: 0;
    

    animation-name: logo;
    animation-duration: var(--intro);
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    
   
    
    
     
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    30% {
        opacity: 1;
        transform: rotate(2160deg) scale(1.5);
    }

    70% {
        opacity: 1;
        transform: rotate(2160deg) scale(1.5);
    }

    100% {
        opacity: 0;
        transform: rotate(360deg) scale(1.5);
    }
}




.scene {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  height: 300px;
  perspective: 1200px;
  align-self: flex-end;
  margin-right: 10rem;
  opacity: 0;
  transform: translateX(100%);
  
  
  

  animation: scene var(--scene) ease-in-out forwards;
  animation-delay: var(--intro);
 
}

@keyframes scene {
 

  to {
    
    transform: translateX(0);
    opacity: 1;
  }
}





.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: left center;
  animation: flipCard var(--flip) ease-in-out forwards;
  animation-delay: calc(var(--intro) + var(--scene));
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);

}

.card_face {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  border-radius: 12px;
  backface-visibility: hidden;
}

.front {
   
  background: linear-gradient(270deg, #0f0e0e, #2f2f31);
  padding: 1rem 2rem;
  color: goldenrod;
  border: 2px solid goldenrod;
}

.back {
  
  background: linear-gradient(270deg, #0f0e0e, #2f2f31);
  transform: rotateY(180deg);
  padding: 1rem 2rem;
  color: goldenrod;
  border: 2px solid goldenrod;
}


@keyframes flipCard {
  0% {
    
    transform: rotateY(0) rotateZ(0);
    
  }
  50% {
     transform: rotateY(-90deg) rotateZ(2deg) translateZ(40px);
  }
  100% {
    transform: rotateY(-180deg) rotateZ(0deg) translateZ(0);
  }
}

  


   



.userCard {
  position: absolute;
  top: 10%;
  right: 10%;
  perspective: 1200px;
  border: 5px solid goldenrod;
  background: linear-gradient(270deg, #0f0e0e, #2f2f31);
  width: 500px;
  height: 150px;
  text-decoration: none;
  opacity: 0;
  transform: translateX(100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  
  
  

  animation: userCard 1.5s ease-in-out forwards;
   animation-delay: calc(var(--intro) + var(--scene) + var(--flip)); 
  
  
}

@keyframes userCard {
 

  to {
    
    transform: translateX(0);
    opacity: 1;
  }
}


.userCard2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  perspective: 1200px;
  border: 5px solid goldenrod;
  background: linear-gradient(270deg, #0f0e0e, #2f2f31);
  width: 500px;
  height: 150px;
  opacity: 0;
  transform: translateX(100%);
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  animation: userCard 1.5s ease-in-out forwards;
  animation-delay: calc(var(--intro) + var(--scene) + var(--flip) + 0.5s); 
 
  
}


.user_signup {
   padding: 0.5rem 1rem;
  margin-top: 2.5rem;
  margin-left: 6rem;
  border: 3px solid goldenrod;
  width: 30%;
  border-radius: 20px;
  animation: ripple 1.5s infinite;
}

.user_signin {
  padding: 0.5rem 1rem;
  margin-top: 2.5rem;
  margin-left: 6rem;
  border: 3px solid goldenrod;
  width: 30%;
  border-radius: 20px;
  animation: ripple 1.5s infinite;
}

/* .user_signin:active {
  animation: ripple 1.5s;
} */

.navLink {
  text-decoration: none;
  color: goldenrod;
  
  
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(218, 165, 32, 0.6),
    0 0 0 0 rgba(218, 165, 32, 0.6)
    ;
  }

  100% {
    box-shadow: 0 0 0 15px rgba(218, 165, 32, 0),
    0 0 0 30px rgba(218, 165, 32, 0)
    ;
  }
}