.loginCon {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 5rem;
    padding: 40px;
    width: 100%;
    max-width: 420px;
}


 
::-webkit-input-placeholder {
   font-size: 1.5rem;
}


.nameForm {
     padding: 12px 15px;
     border: red solid 5px;
     border-radius: 10px;
     width: 50vh;
}